doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='A theme for Bespoke.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Motivasi Sukses

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
    
  style.
    .orion {
      background-image: url('images/orion.jpg')
    }
    .page0 {
      background-image: url('images/page-0.jpg')
    }
    .page1 {
      background-image: url('images/page-1.jpg')
    }
    .bgQuestion {
      background-image: url('images/bgQuestion.jpg')
    }

  body

    article

      section
        h1 Motivasi Sukses

      section(data-bespoke-backdrop='page0')
        h1.italic 
          &rdquo;Kekuatan Impian&rdquo;

      section(data-bespoke-backdrop='page1')
        h3 Kekuatan Besar berawal dari
        h2 Impian

      section(data-bespoke-backdrop='bgQuestion')
        h3 Mengapa
        h2 Memiliki Impian Penting

      section
        h3 Sumber Motivasi

      section
        h3 Menciptakan Energi Besar untuk
        h2 Berprestasi

      section
        h3 Menjadikan hidup manusia lebih
        h2 Mudah

      section
        h2 Bagaimana
        h2 Supaya Impian Memiliki Kekuatan

      section
        h2 Impian Harus
        h2 Jelas

      section
        h2 Impian Sebaiknya
        h2 Ditulis

      section
        h2 Impian Harus Bisa
        h2 Diukur

      section
        h3 Bagaimana
        h2 Supaya Impian Menjadi Kenyataan

      section
        h2 Impian harus
        h2 Diyakini

      section
        h2 Impian Harus
        h2 irencanakan

      section
        h2 Lanjutkan dengan real Action

      section
        h2 Jadi ...

      section
        h3 miliki 
        h2 impian Besar

      section
        h3 Yakini & Rencanakan

      section
        h2 Bertindaklah
        h2 untuk menjemput kesuksesan

      section
        h1 Sekian


    script(src='build/build.js')