doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='A theme for Bespoke.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Motivasi Sukses

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
    
  style.
    .orion {
      background-image: url('images/orion.jpg')
    }
    .page0 {
      background-image: url('images/page-0.jpg')
    }
    .page1 {
      background-image: url('images/page-1.jpg')
    }
    .page2 {
      background-image: url('images/page-2.jpg')
    }
    .page3 {
      background-image: url('images/page-3.jpg')
    }
    .page4 {
      background-image: url('images/page-4.jpg')
    }
    .page5 {
      background-image: url('images/page-5.jpg')
    }
    .page6 {
      background-image: url('images/page-6.jpg')
    }
    .bgQuestion {
      background-image: url('images/bgQuestion.jpg')
    }
    .bgQuestion {
      background-image: url('images/bgQuestion.jpg')
    }
    .howto1 {
      background-image: url('images/howto1.jpg')
    }
    .howto2 {
      background-image: url('images/howto2.jpg')
    }
    .howto3 {
      background-image: url('images/howto3.jpg')
    }
    .maketrue1 {
      background-image: url('images/maketrue1.jpg')
    }
    .maketrue2 {
      background-image: url('images/maketrue2.jpg')
    }
    .maketrue3 {
      background-image: url('images/maketrue3.jpg')
    }

  body

    article

      section
        h1 Motivasi Sukses

      section(data-bespoke-backdrop='page0')
        h1.italic 
          &rdquo;Kekuatan Impian&rdquo;

      section(data-bespoke-backdrop='page1')
        h3 Kekuatan Besar berawal dari
        h2 Impian

      section(data-bespoke-backdrop='bgQuestion')
        h3 Mengapa
        h2 Memiliki Impian Penting

      section(data-bespoke-backdrop='page3')
        h3 Sumber Motivasi

      section(data-bespoke-backdrop='page4')
        h3 Menciptakan Energi Besar untuk
        h2 Berprestasi

      section(data-bespoke-backdrop='page5')
        h3 Menjadikan hidup manusia lebih
        h2 Mudah

      section(data-bespoke-backdrop='bgQuestion')
        h2 Bagaimana
        h2 Supaya Impian Memiliki Kekuatan

      section(data-bespoke-backdrop='howto1')
        h2 Impian Harus
        h2 Jelas

      section(data-bespoke-backdrop='howto2')
        h2 Impian Sebaiknya
        h2 Ditulis

      section(data-bespoke-backdrop='howto3')
        h2 Impian Harus Bisa
        h2 Diukur

      section(data-bespoke-backdrop='bgQuestion')
        h3 Bagaimana
        h2 Supaya Impian Menjadi Kenyataan

      section(data-bespoke-backdrop='maketrue1')
        h2 Impian harus
        h2 Diyakini

      section(data-bespoke-backdrop='maketrue2')
        h2 Impian Harus
        h2 irencanakan

      section(data-bespoke-backdrop='maketrue3')
        h2 Lanjutkan dengan real Action

      section(data-bespoke-state='emphatic')
        h2 Jadi ...

      section(data-bespoke-backdrop='page0')
        h3 miliki 
        h2 impian Besar

      section(data-bespoke-state='emphatic')
        h3 Yakini & Rencanakan

      section(data-bespoke-backdrop='page6')
        h2 Bertindaklah
        h2 untuk menjemput kesuksesan

      section
        h1 Sekian


    script(src='build/build.js')