doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='A theme for Bespoke.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Motivasi Sukses

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
    
  style.
    .orion {
      background-image: url('images/orion.jpg')
    }

  body

    article

      section
        h1 Motivasi Sukses

      section
        h1.italic 
          &rdquo;Kekuatan Impian&rdquo;

      section
        h3 Kekuatan Besar berawal dari
        h2 Impian


    script(src='build/build.js')